summac>=0.0.4
transformers==4.40.0
openai
jsonlines
accelerate
bitsandbytes
sentencepiece
pandas
datasets==2.14.7
evaluate
rouge_score
bert_score
nltk
python-dotenv
lexrank
spacy
tqdm
scikit-learn
rank_bm25